<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CsAC_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CsAC_Client.Properties.Settings>
            <setting name="CloseOptionRemembered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOptionAction" serializeAs="String">
                <value>Minimize</value>
            </setting>
        </CsAC_Client.Properties.Settings>
    </userSettings>
</configuration>